@import "tailwindcss";
/* @import "tailwindcss/preflight"; */
@tailwind utilities;

/* import Flowbite plugin */
@plugin "flowbite/plugin";

/* add Flowbite Vue directory using @source directive. */
@source "../../node_modules/flowbite-vue";
/* import Flowbite Vue styles */
@import "flowbite-vue/index.css";



/* import Flowbite plugin */


body {
    /* background-color: pink; */
}